#header {
    background-color: rgb(255, 0, 0);
    height: 50px;
    width: 980px;
    margin-bottom: 0px;
    float: right;
    margin: 0 10 0 0px;
    border-radius: 8px;
    -webkit-box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.75);
     box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.75);
     position: sticky;
     top: 0;
     z-index: 100;
     padding: 0 10px 0 0;
}



#headerkiri {
    height: 100px;
    width: 290px;
    margin-bottom: 0px;
    float: left;
    margin: 0 0 0 10px;
}

#headerkanan {
    width: 700px;
    height: 100px;
    float: right;
    size: 100%;
    padding: px 0 0 350px;
}

#pemhe {
    width: 1000px;
    height: 100px;
}
#header li {
    float: left;
    padding: 1px 60px 0px 0px;
    font-size: 15px;
    font-family: tahoma;
}
#header ul {
    list-style: none;
    
}

#header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}



#header li a:hover{
    color: rgb(0, 0, 0);
}

#kiri {
    float: right;
    width: 650px;
    height: 310px;
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 10px 50px;
    text-align: justify;
    border-radius: 8px;
    box-shadow:  0 2px 5px rgb(0, 0, 0) ;
    padding: 20px 20px 10px 3px;
    transition: all 0.3s;
}

#kiri:hover{
    transform: scale(0.99);}

#kanan:hover{
        transform: scale(0.99);}

#kanan {
    float: left;
    width: 180px;
    height: 310px;
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 10px 20px;
    text-align: justify;
    border-radius: 8px;
    box-shadow:  0 2px 5px rgb(0, 0, 0) ;
    padding: 10px 20px 10px 10px;
    transition: all 0.3s;
}

#pembungkus {
    width: 1000px;
    height: 1000px;
}

#utama {
    width: 1000px;
    height: 1000px;
margin: auto ;
}

#kaki {
    width: 980px;
    height: 20px;
    background-color: blue;
    text-align: center;
    margin: 0 10px 0 10px;
    float: inline-end;
    padding: 10px 0 0 0;
    color: white;
    border-radius: 8px;
    -webkit-box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.75);
     box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.75);
}

body {
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(255, 255, 255);
}

button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

body {
   background: none;
}